VITE_SUPABASE_URL=https://rkdvbxanvritdjggmqla.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrZHZieGFudnJpdGRqZ2dtcWxhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzMjk3MDAsImV4cCI6MjA5NDkwNTcwMH0.e8Y3McsPEhEezDAdm6Jc7kZnocBmTMbHLfVKWYnXJ-E
